/* boudreau bros stylesheet - 2016 */

body {
    font-family: 'Lato', sans-serif;
    color: #333;  
    font-size: 16px;
    line-height: 26px;
    height: 100%;
}
h1 {
    padding: 30px 0;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}
h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}
.red {
    color: #c41330;
}
.blue {
    color: #276ba6;
}
.gray-bg {
    background: #f4f4f4;
}
a.thumbnail:hover {
    border-color: #b4b4b4;
}

/* navbar */
#boudreaunavbar {
    font-size: 14px;
}
.navbar.navbar-fixed-top {
    background: #fff;
    height: 80px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.5);    
}
.top-line {
    top: 0;
    height: 4px;
    background: #c41330;
}
a.navbar-brand {
   padding-top: 5px;
}
ul.nav.navbar-nav.navbar-right {
    font-size: 1.1em;
    
}
ul.nav.navbar-nav.navbar-right a{
    color: #333;
    background: #fff;
    font-weight: bold;
}
ul.nav.navbar-nav.navbar-right a:hover{
    color: #c41330;       
}
ul.nav.navbar-nav.navbar-right li.active a{
    color: #c41330;       
}
p.navbar-text img{
    padding-top: 15px;
    padding-left: 5px;
}
.navbar-toggle {
     border-color: #c41330;
}
.icon-bar {
    background-color: #c41330;   
}
/* Carousel */
#carousel-example-generic {
    top: 80px;
    height: 100%;
    box-shadow: 0 1px 4px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.5);
    -ms-box-shadow: 0 1px 4px rgba(0,0,0,0.5); 
    -o-box-shadow: 0 1px 4px rgba(0,0,0,0.5); 
}
#carousel-example-generic img {
    width: 100%;
}
#carousel-example-generic h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: bold;
}
#carousel-example-generic p {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 22px;
}
.carousel-caption.left {
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    left: 15%;
    right: 60%;
}
#services-section {
    padding-top: 100px;
    padding-bottom: 40px;
    position: relative;
}
#services-section h2 {
    text-align: center;
}
#services-section p {
    text-align: justify;
}

/* Recent Work Section */
#recent-work-section {
    background: url('../images/grass.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    border-top: 1px solid #d2d2d2;
    min-height: 500px;
    padding-top: 40px;
    padding-bottom: 40px;
}
#recent-work-section h1 {
    margin-bottom: 30px;
}
#recent-work-section .caption-style {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#recent-work-section .caption-style li {
    float: left;
    padding: 0;
    position: relative;
    overflow: hidden;
    margin: 5px;
    border-radius: 5px;
    border: 3px solid #fff;
    cursor: pointer;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2); 
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.2); 
    -ms-box-shadow: 0 1px 4px rgba(0,0,0,0.2); 
    -o-box-shadow: 0 1px 4px rgba(0,0,0,0.2); 
}
#recent-work-section .caption-style li:hover .caption {
    opacity: 0.8;
    transform: translateY(-100px);  
}
#recent-work-section .caption-style img {
    margin: 0;
    padding: 0;    
    z-index: 4;
}
#recent-work-section .caption-style .caption {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 220px;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}
#recent-work-section .caption-style .blur {
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    height: 180px;
    width: 171px;
    z-index: 5;    
}
#recent-work-section .caption-style .caption-text h1 {
   font-size: 18px;
   font-weight: 100;
}
#recent-work-section .caption-style .caption-text {
    color: #fff;
    position: absolute;
    z-index: 10;
    width: 171px;
    height: 180px;
    text-align: center;
    top: -30px;
}

#main {
    padding-top: 40px;
    padding-bottom: 0;
}

/* footer */
#footer-section {
    background: #333;
    min-height: 120px;
    color: #fff;
}
#footer-section img {
    padding: 10px 0;
}
#footer-section ul {
    display: inline-block;
}
#footer-section ul li {
    padding: 40px 20px 10px 20px;
}
#footer-section a {
    color: #fff;
    text-decoration: none;
}
#footer-section ul li a img {
    padding-left: 5px;
}

#copyright-section {    
    background: #1c1c1c;
    min-height: 28px;
    color: #fff;
    font-size: 12px;
    vertical-align: middle;
    line-height: 28px;
}


/* About Section */
#about-section {
    margin-top: 80px;    
    font-size: 18px;
    line-height: 40px;
    text-align: justify;
    padding-bottom: 80px;
}
#about-section img {
    margin-bottom: 40px;
}
#faces-section, #contactform-section {
    background: #f4f4f4;
    padding-bottom: 80px;   
}
#faces-section h2 {
    text-align: center;
}
#contactform-section .form-control:hover, #contactform-section .form-control:active {
    border-color: #bbb;
}
#contactform-section .form-control:focus {
    border-color: #c41330;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(255, 0, 0, 0.6);
}

/*services page */
#services {
    margin-top: 80px;      
}
#services img {
    box-shadow: 0 1px 4px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.5);
    -ms-box-shadow: 0 1px 4px rgba(0,0,0,0.5); 
    -o-box-shadow: 0 1px 4px rgba(0,0,0,0.5); 
    border: 2px solid #fff;
}
#services p {
    line-height: 40px;
    text-align: justify;
    font-size: 18px;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
#construction, #maintenance, #snowmanagement {
    padding-top: 60px;
    padding-bottom: 60px;
}
#maintenance {
    background: #f4f4f4;
}

/* Gallery section */
#gallery-section {
    margin-top: 80px;
}
#gallery-section .pagination>li>a, #gallery-section .pagination>li>span {
    border: 1px solid #c41330;
    color: #333;
}
#gallery-section .pagination>li.active>a {
    background: #c41330;
    color: #fff;
}  


/********* media queries ************/
@media (min-width: 990px) {
    #gallery-section {
        min-height: 840px;
    }
}
@media(max-width: 767px) {    
    #boudreaunavbar.navbar-collapse.in {         
        background: #fff;
        box-shadow: 0 1px 4px rgba(0,0,0,0.5);
        -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.5);
        -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.5);    
    }
    button.navbar-toggle {
        top: 10px;
        margin-bottom: 15px;
    }
    .navbar-collapse {
        position: absolute;
        width: 100%;   
        max-height: none;
        z-index: 999;
    }
    .navbar-nav .open .dropdown-menu {
        background-color: #f6f6f6;
    }    
    .navbar-nav .open .dropdown-menu > li > a {
        background-color: #f6f6f6;
    }    
    .navbar.navbar-fixed-top {
        height: 70px;
    }
    .logo {
        width: 160px;
    }    
    /* carousel */
    #carousel-example-generic {
        top: 70px;
    }
    
    #services-section img {
        padding-top: 30px;
        padding-bottom: 0;
    }
    #construction img, #maintenance img, #snowmanagement img {        
        width: 200px;   
    }
    #footer-section {
        text-align: center!important;
        padding-top: 40px;        
    }
    #footer-section ul li {
        margin: 0;
        padding: 0 5px;
    }
        
}


